<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.screenshot.ScreenShotUsingUtility"/>
      <class name="com.screenshot.FailedTestScreenShot"/>
      <class name="com.screenshot.ScreenShotExample"/>
      <class name="DataDrivenTesting.WordPressExcelLogin"/>
      <class name="DataDrivenTesting.WordPressLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
